# Environment variables
.env

# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/